# Client Test

In [27]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append("../../")
import irsparser as irs
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [32]:
client = irs.Client(
    local_data_dir="../../data", ein_filename="eins",
    index_years=[2018], index_download=False,
    save_xml=False)

Number of EINS: 2147
Gathered for Filings2018
Number of Jewish Orgs in Indices: 1484

In [33]:
client.parse_xmls(add_organization_info=True)

1000 records processed
Total Runtime 9.880259 seconds

In [34]:
df = client.getFinalDF()

In [35]:
df.columns

Index(['EIN', 'TaxPeriod', 'DLN', 'FormType', 'LastUpdated', 'ObjectId',
       'OrganizationName', 'SubmittedOn', 'URL', 'BuildTs',
       'CYRevenuesLessExpenses', 'CYTotalExpenses', 'CYTotalRevenue',
       'CountryAbbr', 'GrantDesc', 'GrantMoneyTotal', 'LiabilitiesToAsset',
       'LoansFromOfficerBOY', 'LoansFromOfficerEOY', 'LoansToOfficerBOY',
       'LoansToOfficerEOY', 'Mission', 'NotFollowSFAS117',
       'OfficerCompensationPart7', 'OfficerCompensationPart9', 'OfficerList',
       'OfficerName', 'OfficerTitle', 'PYRevenuesLessExpenses',
       'PYTotalExpenses', 'PYTotalRevenue', 'PerparerFirmGrp', 'PreparerDate',
       'PreparerPersonName', 'ProgramExp', 'ProgramExpenses', 'ReturnTs',
       'ReturnTypeCd', 'ScheduleA', 'ScheduleI', 'ScheduleJ', 'ScheduleL',
       'ScheduleO', 'StateAbbr', 'SurplusMargin', 'TaxPeriodBeginDt',
       'TaxPeriodEndDt', 'TaxYr', 'TotalAssetsBOY', 'TotalAssetsEOY',
       'TotalEmployee', 'TotalExpenses', 'TotalLiabilitiesBOY',
       'TotalLiabilitiesEOY', 'WorkingCapital', 'returnVersion',
       'Deductibility', 'Foundation', 'Organization', 'NTEECode',
       'NTEECommonCode', 'NTEECodeDescription'],
      dtype='object')

In [36]:
df.head()

,EIN,TaxPeriod,DLN,FormType,LastUpdated,ObjectId,OrganizationName,SubmittedOn,URL,BuildTs,...,TotalLiabilitiesBOY,TotalLiabilitiesEOY,WorkingCapital,returnVersion,Deductibility,Foundation,Organization,NTEECode,NTEECommonCode,NTEECodeDescription
0,010267492,201611,93493314027057,990,2018-01-18T23:53:03,201703149349302705,PORTLAND CHEVRA KADISHA,2018-01-05,https://s3.amazonaws.com/irs-form-990/20170314...,2017-02-10 21:41:12Z,...,10578.0,30285.0,0.000000,2015v3.0,Deductible,509(a)(2),Corporation,X20Z,"Religion-Related, Spiritual Development",Christian
1,010267492,201711,93493030005318,990,2018-03-14T23:04:38,201810309349300531,PORTLAND CHEVRA KADISHA,2018-03-08,https://s3.amazonaws.com/irs-form-990/20181030...,2018-03-14 21:41:22Z,...,30285.0,14393.0,0.000000,2016v3.0,Deductible,509(a)(2),Corporation,X20Z,"Religion-Related, Spiritual Development",Christian
2,010406624,201703,93493043007348,990,2018-04-10T21:12:59,201840439349300734,HOLOCAUST HUMAN RIGHTS CENTER OF MAINE,2018-03-12,https://s3.amazonaws.com/irs-form-990/20184043...,2018-03-14 21:41:22Z,...,1326.0,4342.0,8.339492,2016v3.0,Deductible,170(b)(1)(A)(vi),Corporation,Q700,"International, Foreign Affairs and National Se...",International Human Rights
3,010530420,201708,93493192012608,990,2018-10-16T15:38:26,201801929349301260,JEWISH COMMUNITY ALLIANCE SOUTHERN MAINE,2018-09-21,https://s3.amazonaws.com/irs-form-990/20180192...,2018-06-14 16:35:46Z,...,640718.0,2988112.0,5.493680,2016v3.0,Deductible,509(a)(2),Corporation,T700,"Philanthropy, Voluntarism and Grantmaking Foun...",Federated Giving Programs
4,010563874,201612,93493319080497,990,2018-01-18T23:53:03,201743199349308049,JEWISH ALLIANCE FOR LAW AND SOCIAL ACTION INC,2018-01-12,https://s3.amazonaws.com/irs-form-990/20174319...,2017-02-10 21:41:12Z,...,139401.0,52477.0,0.117417,2016v3.0,Deductible,509(a)(2),Corporation,A99,"Arts, Culture and Humanities","Arts, Culture & Humanities N.E.C."

In [37]:
df.shape

(1434, 62)

In [38]:
client.error_file

Empty DataFrame
Columns: []
Index: []