# Client Test

In [104]:
import pandas as pd
import numpy as np
import os
import sys
sys.path.append("../../")
import irsparser as irs
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [105]:
client = irs.Client(
    local_data_dir="../../data", ein_filename="eins",
    index_years=[2018], save_xml=False,
    parser="propublica")

Number of EINS: 2147
Gathered for Filings2018
Number of Jewish Orgs in Indices: 1484

In [106]:
client.parse_xmls(add_organization_info=True)

1000 records processed
Total Runtime 13.594221 seconds

In [107]:
df = client.getFinalDF()

In [108]:
df.columns

Index(['EIN', 'TaxPeriod', 'DLN', 'FormType', 'LastUpdated', 'ObjectId',
       'OrganizationName', 'SubmittedOn', 'URL', 'BondProceeds', 'BuildTs',
       'Contributions', 'CountryAbbr', 'ExecutiveCompensation',
       'InvestmentIncome', 'NetAssets', 'NetFundraising', 'NetInventorySales',
       'OfficerName', 'OfficerTitle', 'OtherRevenue', 'OtherSalaryWages',
       'PerparerFirmGrp', 'PreparerDate', 'PreparerPersonName',
       'ProfessionalFundraisingFees', 'ProgramExpenses', 'ProgramServices',
       'RentalPropertyIncome', 'ReturnTs', 'ReturnTypeCd',
       'RevenueLessExpenses', 'Royalties', 'SalesOfAssets', 'StateAbbr',
       'TaxPeriodBeginDt', 'TaxPeriodEndDt', 'TaxYr', 'TotalAssets',
       'TotalExpenses', 'TotalLiabilities', 'TotalRevenue', 'Deductibility',
       'Foundation', 'Organization', 'NTEECode', 'NTEECommonCode',
       'NTEECodeDescription'],
      dtype='object')

In [109]:
df.head()

,EIN,TaxPeriod,DLN,FormType,LastUpdated,ObjectId,OrganizationName,SubmittedOn,URL,BondProceeds,...,TotalAssets,TotalExpenses,TotalLiabilities,TotalRevenue,Deductibility,Foundation,Organization,NTEECode,NTEECommonCode,NTEECodeDescription
0,010267492,201611,93493314027057,990,2018-01-18T23:53:03,201703149349302705,PORTLAND CHEVRA KADISHA,2018-01-05,https://s3.amazonaws.com/irs-form-990/20170314...,0.0,...,497832.0,226671.0,30285.0,259026.0,Deductible,509(a)(2),Corporation,X20Z,"Religion-Related, Spiritual Development",Christian
1,010267492,201711,93493030005318,990,2018-03-14T23:04:38,201810309349300531,PORTLAND CHEVRA KADISHA,2018-03-08,https://s3.amazonaws.com/irs-form-990/20181030...,0.0,...,501195.0,186994.0,14393.0,206249.0,Deductible,509(a)(2),Corporation,X20Z,"Religion-Related, Spiritual Development",Christian
2,010406624,201703,93493043007348,990,2018-04-10T21:12:59,201840439349300734,HOLOCAUST HUMAN RIGHTS CENTER OF MAINE,2018-03-12,https://s3.amazonaws.com/irs-form-990/20184043...,0.0,...,2660812.0,318541.0,4342.0,248859.0,Deductible,170(b)(1)(A)(vi),Corporation,Q700,"International, Foreign Affairs and National Se...",International Human Rights
3,010530420,201708,93493192012608,990,2018-10-16T15:38:26,201801929349301260,JEWISH COMMUNITY ALLIANCE SOUTHERN MAINE,2018-09-21,https://s3.amazonaws.com/irs-form-990/20180192...,0.0,...,13459292.0,1864275.0,2988112.0,2667522.0,Deductible,509(a)(2),Corporation,T700,"Philanthropy, Voluntarism and Grantmaking Foun...",Federated Giving Programs
4,010563874,201612,93493319080497,990,2018-01-18T23:53:03,201743199349308049,JEWISH ALLIANCE FOR LAW AND SOCIAL ACTION INC,2018-01-12,https://s3.amazonaws.com/irs-form-990/20174319...,0.0,...,84700.0,274432.0,52477.0,324390.0,Deductible,509(a)(2),Corporation,A99,"Arts, Culture and Humanities","Arts, Culture & Humanities N.E.C."

In [110]:
df.columns

Index(['EIN', 'TaxPeriod', 'DLN', 'FormType', 'LastUpdated', 'ObjectId',
       'OrganizationName', 'SubmittedOn', 'URL', 'BondProceeds', 'BuildTs',
       'Contributions', 'CountryAbbr', 'ExecutiveCompensation',
       'InvestmentIncome', 'NetAssets', 'NetFundraising', 'NetInventorySales',
       'OfficerName', 'OfficerTitle', 'OtherRevenue', 'OtherSalaryWages',
       'PerparerFirmGrp', 'PreparerDate', 'PreparerPersonName',
       'ProfessionalFundraisingFees', 'ProgramExpenses', 'ProgramServices',
       'RentalPropertyIncome', 'ReturnTs', 'ReturnTypeCd',
       'RevenueLessExpenses', 'Royalties', 'SalesOfAssets', 'StateAbbr',
       'TaxPeriodBeginDt', 'TaxPeriodEndDt', 'TaxYr', 'TotalAssets',
       'TotalExpenses', 'TotalLiabilities', 'TotalRevenue', 'Deductibility',
       'Foundation', 'Organization', 'NTEECode', 'NTEECommonCode',
       'NTEECodeDescription'],
      dtype='object')

In [111]:
df.shape

(1434, 48)

In [112]:
client.error_file#['url'].values

Empty DataFrame
Columns: []
Index: []

In [114]:
df.describe()

,BondProceeds,Contributions,ExecutiveCompensation,InvestmentIncome,NetAssets,NetFundraising,NetInventorySales,OtherRevenue,OtherSalaryWages,ProgramExpenses,ProgramServices,RentalPropertyIncome,RevenueLessExpenses,Royalties,SalesOfAssets,TotalAssets,TotalExpenses,TotalLiabilities,TotalRevenue
count,1434.000000,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1434.000000,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03,1.434000e+03
mean,4.359135,5.814450e+06,2.271760e+05,2.138694e+05,1.855960e+07,3.606242e+03,4.359135,8.283964e+04,2.411541e+06,7.852154e+06,3.457285e+06,3.149759e+04,8.016426e+05,1.617554e+03,6.067189e+05,2.513862e+07,9.194231e+06,6.579026e+06,9.995874e+06
std,161.707726,3.083363e+07,4.864832e+05,1.104112e+06,9.107714e+07,2.321277e+05,161.707726,4.839211e+05,7.709550e+06,3.371388e+07,1.463867e+07,1.879233e+05,8.899180e+06,4.183269e+04,4.094607e+06,1.088890e+08,3.655171e+07,2.762526e+07,3.852378e+07
min,0.000000,0.000000e+00,0.000000e+00,-1.383010e+05,-9.230808e+07,-6.011000e+06,0.000000,-1.645290e+05,0.000000e+00,-1.586700e+04,0.000000e+00,-7.286330e+05,-6.813190e+07,0.000000e+00,-7.615460e+06,0.000000e+00,2.230000e+02,-3.256613e+06,-9.516710e+05
25%,0.000000,2.002500e+05,0.000000e+00,2.625000e+01,3.043195e+05,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,3.680998e+05,0.000000e+00,0.000000e+00,-1.011290e+05,0.000000e+00,9.250000e+00,6.261972e+05,4.845112e+05,1.066350e+04,4.829142e+05
50%,0.000000,7.381075e+05,5.887500e+04,3.860000e+03,1.921732e+06,0.000000e+00,0.000000,0.000000e+00,2.394935e+05,1.110054e+06,1.111200e+05,0.000000e+00,7.938500e+03,0.000000e+00,5.351000e+03,3.189200e+06,1.414598e+06,2.604925e+05,1.540714e+06
75%,0.000000,2.417883e+06,2.331320e+05,6.440000e+04,8.507376e+06,0.000000e+00,0.000000,9.910000e+03,1.886622e+06,4.917302e+06,1.532920e+06,0.000000e+00,2.081905e+05,0.000000e+00,1.140445e+05,1.203148e+07,5.890294e+06,2.631344e+06,6.230536e+06
max,6123.000000,7.806748e+08,5.256471e+06,2.177283e+07,1.550554e+09,3.720221e+06,6123.000000,9.540000e+06,1.496065e+08,8.771678e+08,3.641253e+08,4.501161e+06,2.627373e+08,1.566811e+06,7.314694e+07,1.558569e+09,9.122649e+08,4.344046e+08,8.441330e+08

In [115]:
df.min()

EIN                                                              010267492
TaxPeriod                                                           201412
DLN                                                         93493008002918
FormType                                                               990
LastUpdated                                            2018-01-18T21:29:43
ObjectId                                                201701709349300305
OrganizationName                               CHAYA-ISRAEL FOUNDATION INC
SubmittedOn                                                     2018-01-02
URL                      https://s3.amazonaws.com/irs-form-990/20170170...
BondProceeds                                                             0
BuildTs                                               2017-02-10 21:41:12Z
Contributions                                                            0
CountryAbbr                                                             IS
ExecutiveCompensation                                                    0
InvestmentIncome                                                   -138301
NetAssets                                                     -9.23081e+07
NetFundraising                                                  -6.011e+06
NetInventorySales                                                        0
OfficerName                                                  A Donald Wise
OfficerTitle                                                      11152017
OtherRevenue                                                       -164529
OtherSalaryWages                                                         0
ProgramExpenses                                                     -15867
ProgramServices                                                          0
RentalPropertyIncome                                               -728633
ReturnTs                                         2017-06-15T15:00:38-04:00
ReturnTypeCd                                                           990
RevenueLessExpenses                                           -6.81319e+07
Royalties                                                                0
SalesOfAssets                                                 -7.61546e+06
StateAbbr                                                               AL
TaxPeriodBeginDt                                                2014-01-01
TaxPeriodEndDt                                                  2014-12-31
TaxYr                                                                 2014
TotalAssets                                                              0
TotalExpenses                                                          223
TotalLiabilities                                              -3.25661e+06
TotalRevenue                                                       -951671
dtype: object

In [120]:
df[df.TotalRevenue < 0]['URL'].values

array(['https://s3.amazonaws.com/irs-form-990/201703139349301595_public.xml',
       'https://s3.amazonaws.com/irs-form-990/201830679349300838_public.xml',
       'https://s3.amazonaws.com/irs-form-990/201830679349300543_public.xml',
       'https://s3.amazonaws.com/irs-form-990/201810239349300326_public.xml'], dtype=object)